* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  background-color: rgb(0, 255, 183);
}
.container {
  padding: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.container a:nth-child(1) {
  font-size: 20px;
}
.container a:nth-child(2) {
  float: right;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 10px;
}
.container a:nth-child(3) {
  float: right;
  font-size: 15px;
  margin-top: 5px;
}
main {
  text-align: center;
}
main #kll {
  width: 100%;
  margin-top: 10px;
  display: none;
}
main #luas {
  width: 100%;
  margin-top: 10px;
  display: inline-block;
}
main #luas h2 {
  background-color: rgb(0, 140, 255);
  padding: 10px;
  color: white;
}
main #kll h2 {
  background-color: rgb(0, 140, 255);
  padding: 10px;
  color: white;
}
main #luas label {
  text-align: left;
}
main #luas input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

main #luas input[type="button"] {
  width: 100%;
  background-color: #001efe;
  color: white;
  padding: 14px;
  border: none;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

main #luas input[type="button"]:hover {
  background-color: #00aaff;
}
main #luas input[type="reset"] {
  width: 100%;
  background-color: #ff232e;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

main #luas input[type="reset"]:hover {
  background-color: #910101;
}
main #luas #kalkulasi {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
}
main #kll input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: transparent;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

main #kll input[type="button"] {
  width: 100%;
  background-color: #001efe;
  color: white;
  padding: 14px;
  border: none;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

main #kll input[type="button"]:hover {
  background-color: #00aaff;
}
main #kll input[type="reset"] {
  width: 100%;
  background-color: #ff232e;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

main #kll input[type="reset"]:hover {
  background-color: #910101;
}
main #kll #kalkulasi {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
}
#result {
  text-align: left;
  margin: 10px;
  display: none;
  padding: 10px;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.737);
}
#result p {
  font-size: 18px;
}
#result2 {
  text-align: left;
  margin: 10px;
  display: none;
  padding: 10px;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.737);
}
#result2 p {
  font-size: 18px;
}
